{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock title %}

{% block content %}

    <!-- section -->
    <div class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-content">
                        <h2>{{ message }}</h2>
                        <p> {{current_lang}} </p>
                    </div>

                </div>

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /section -->

{% endblock content %}